# Name of your postgresql database

DBdatabase=

# Username for your postgresql database

DBusername=

# Password for your postgresql database

DBpassword=

# host address for your postgresql db.

host=