{
  "extends": ["next", "next/core-web-vitals", "eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    // Other rules
    "@next/next/no-img-element": "off",
    "linebreak-style": ["error", "unix"],
		"semi": ["error", "always"],
		"eqeqeq": ["error", "always"],
    "no-unused-vars": "off" // or "@typescript-eslint/no-unused-vars": "off",  
  }
}
