{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    // Other rules
    "@next/next/no-img-element": "off",
    "linebreak-style": ["error", "unix"],
		"semi": ["error", "never"],
		"eqeqeq": ["error", "always"]
  }
}
