---
import BaseHead from "./BaseHead.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { ModeWatcher } from "mode-watcher";
import Footer from "./Footer.astro";
import Navigation from "./Navigation.astro";
import ToastContainer from "../../components/app/ToastContainer.svelte";

export interface Props {
    title: string;
    description?: string;
}

const { title, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="bg-white dark:bg-black flex flex-col min-h-screen">
        <ModeWatcher client:load themeColors={{ dark: "black", light: "white" }} />
        <Navigation />
        <ToastContainer client:load />
        <main class="flex-grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
