---

---

<footer class="dark:bg-zinc-900 bg-zinc-100 dark:border-t-slate-800 border-t-slate-200 border-t">
    <div class="dark:bg-zinc-900 bg-zinc-100 max-w-(--breakpoint-2xl) mx-auto p-4 py-6">
        <div class="flex flex-row">
            <div class="w-full md:max-w-1/2 mb-4">
                <p class="dark:text-yellow-400 text-amber-400 font-medium">Bento</p>
                <p class="dark:dark:text-zinc-300 text-zinc-500">
                    Logo drawn by{" "}
                    <a
                        href="https://twitter.com/dannalanart"
                        target="_blank"
                        rel="noreferrer"
                        class="text-blue-400 hover:underline"
                    >
                        Dan</a
                    >
                </p>
                <p class="text-sm dark:text-zinc-400 text-zinc-600">
                    Source code for the bot licensed{" "}
                    <a
                        href="https://github.com/thebentobot/dotBento/blob/master/LICENSE"
                        target="_blank"
                        rel="noreferrer"
                        class="hover:underline dark:text-zinc-300 text-zinc-500"
                    >
                        AGPLv3</a
                    >.
                </p>
                <p class="text-sm dark:text-zinc-400 text-zinc-600">
                    Source code for the website licensed{" "}
                    <a
                        href="https://github.com/thebentobot/bento-web/blob/master/LICENSE"
                        target="_blank"
                        rel="noreferrer"
                        class="hover:underline dark:text-zinc-300 text-zinc-500"
                    >
                        AGPLv3</a
                    >.
                </p>
            </div>
            <div class="w-full md-max-w-1/2">
                <p class="text-md uppercase tracking-widest mb1 dark:text-zinc-400 text-zinc-600">
                    Links
                </p>
                <p>
                    <a data-astro-prefetch href="/changelog">
                        <span
                            class="dark:text-zinc-300 text-zinc-500 hover:text-amber-400 dark:hover:text-yellow-400 hover:underline"
                        >
                            Changelog
                        </span>
                    </a>
                    <br />
                    <a data-astro-prefetch href="/terms-of-service">
                        <span
                            class="dark:text-zinc-300 text-zinc-500 hover:text-amber-400 dark:hover:text-yellow-400 hover:underline"
                        >
                            Terms of Service
                        </span>
                    </a>
                    <br />
                    <a data-astro-prefetch href="/privacy-policy">
                        <span
                            class="dark:text-zinc-300 text-zinc-500 hover:text-amber-400 dark:hover:text-yellow-400 hover:underline"
                        >
                            Privacy Policy
                        </span>
                    </a>
                    <br />
                    <a
                        href="https://github.com/thebentobot"
                        class="dark:text-zinc-300 text-zinc-500 dark:hover:text-white hover:text-black hover:underline"
                    >
                        GitHub
                    </a>
                    <br />
                    <a
                        href="https://discord.gg/dd68WwP"
                        class="dark:text-zinc-300 text-zinc-500 hover:text-discordBlue dark:hover:text-discordBlue hover:underline"
                    >
                        Discord Support Server
                    </a>
                    <br />
                    <a
                        href="https://www.patreon.com/bentobot"
                        class="dark:text-zinc-300 text-zinc-500 hover:text-patreon dark:hover:text-patreon hover:underline"
                    >
                        Patreon
                    </a>
                    <br />
                    <a
                        href="https://ko-fi.com/bentobot"
                        class="dark:text-zinc-300 text-zinc-500 hover:text-kofi dark:hover:text-kofi hover:underline"
                    >
                        Ko-fi
                    </a>
                    <br />
                    <a
                        href="https://top.gg/bot/787041583580184609"
                        class="dark:text-zinc-300 text-zinc-500 hover:text-black dark:hover:text-white hover:underline"
                    >
                        top.gg
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
