---
import Leaderboard from "../../components/leaderboard/Leaderboard.svelte";
import AppLayout from "../../layouts/app/AppLayout.astro";
import SectionWrapper from "../../layouts/SectionWrapper.astro";

const { serverId } = Astro.params;

---

<AppLayout
    title=`Bento Bot | Leaderboard for ${Astro.params.serverId}`
    description="Check out the leaderboard to see how you rank against other users."
>
    <SectionWrapper>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center text-center overflow-hidden">
                <Leaderboard {...(serverId ? { serverId } : {})} client:load />
            </div>
        </div>
    </SectionWrapper>
</AppLayout>
