---
import Leaderboard from "../../components/leaderboard/Leaderboard.svelte";
import SectionWrapper from "../../layouts/SectionWrapper.astro";
import AppLayout from "../../layouts/app/AppLayout.astro";
---

<AppLayout
    title="Leaderboard"
    description="Check out the leaderboard to see how you rank against other users."
>
    <SectionWrapper>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center text-center overflow-hidden">
                <Leaderboard client:load />
            </div>
        </div>
    </SectionWrapper>
</AppLayout>
