---
import { classNames } from "../library/utils";
interface Props {
    className?: string;
    border?: boolean;
}

const { className, border } = Astro.props as Props;
---

<section
    class={classNames(
        `mt-5 mb-5 space-y-5 mx-auto px-6 sm:px-10 md:px-12 relative ${border ? "dark:border-t-slate-900/30 border-t-slate-300/30 border-t pt-5" : ""}`,
        className
    )}
>
    <slot />
    <br />
</section>
