/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

code {
	padding: 0.2em;
	margin: -0.2em 0;
	border-radius: 3px;
	font-size: 85%;
	font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
		Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
	text-indent: 0;
	border: none;
	white-space: pre-wrap;
	background-color: #202225;
	border-radius: 0.5rem/* 8px */;
}

.discord-messages {
	border-radius: 4px;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #FCD34D, #F59E0B, #EF4444);
	box-shadow: 0 3px 3px -5px #EF4444, 0 2px 5px #EF4444;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0; 
	transition: 2s ease 0.3s;
}
.progress-done:hover {
	opacity: 100;
}